body {
    display: grid;
    background-color: #efefef;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 150px 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer"
}

.header { 
    grid-column: 2 / 3;
    grid-area : "header";
}

.content { 
    grid-column: 2 / 3 ;
    grid-area: "content"
}

.footer {
    grid-column: 2 / 3;
    grid-area: "footer";
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }