body {
    display: grid;
    background-color: antiquewhite
}

.container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer"
}

.header { 
    grid-column: 2 / 3;
    grid-area : "header";
}

.content { 
    grid-column: 2 / 3 ;
    grid-area: "content"
}

.footer {
    grid-column: 2 / 3;
    grid-area: "footer";
}

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
  }