.customInput {
    width: 80%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    box-sizing: border-box;
    margin-top: 5%;
    margin-bottom: 5%;
}

.customButton {
    width: 70px;
    padding: 22px 18px;
    box-sizing: border-box;
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0 , .1);
    font: inherit;
    border: 0;
    background: rgb(119, 164, 231);
}
