.cityName {
  margin-top:5%;
  font-size: 30px;
  font-weight: 500;
  color: rgb(85, 84, 84);
}

.temperature{
  margin-top:1%;
  font-size: 90px;
  font-weight: 500;
  color: rgb(85, 84, 84);
}

.desc {
  font-size: 25px;
  font-weight: 500;
  color: rgb(85, 84, 84);
}